body {
  justify-content: center;
  text-align: center;
}

body {
  font-family: arial;
}

.header {
  background-color: rgb(23, 164, 219);
}

p {
	padding: 0.5rem;
}

h1 {
  font-size: 2rem;
  padding: 1.5rem;
}

li {
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
 text-decoration: underline; 
}

h2{
	padding: 1rem;
	font-size: 20px;
}

.applink {
	color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 3s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
